*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    font-family: "Urbanist", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --spacing-xxs: 8px;
    --spacing-xs: 16px;
    --spacing-sm: 24px;
    --spacing-md: 32px;
    --spacing-lg: 40px;
    --spacing-xl: 48px;
    --spacing-xxl: 56px;

    --container-width: 1280px;
    --custom-spacing-lg: 128px;
    --custom-spacing-xl: 256px;


    --font-size-title-1: 96px;
    --line-height-title-1: 112px;
    --font-size-title-2: 40px;
    --line-height-title-2: 56px;
    --font-size-text: 22px;
    --line-height-text: 32px;

    --border-primary: 2px solid var(--color-black);
    --border-secondary: 1px solid darkgrey;

    --color-black: #1A1B1C;
    --color-white: #F5F5F5;
}

::selection {
    background-color: var(--color-black);
    color: var(--color-white);
}

.dark-theme *::selection {
    background-color: var(--color-white);
    color: var(--color-black);
}

body {
    background-color: var(--color-white);
}

/* body.desktop-theme, */
/* body.desktop-theme * { */
/*    cursor: none;*/
/* } */

.title-1 {
    font-size: clamp(5vw, var(--font-size-title-1), 8vw);
    line-height: clamp(5vw, var(--line-height-title-1), 8vw);
}

h2, .title-2 {
    font-size: clamp(2rem, 2vw, 3rem);
    line-height: clamp(3rem, 3vw, 4rem);
}

p, a, .text {
    font-size: 1rem;
    line-height:  1.5rem;
}

nav,
header,
section,
footer {
    padding: var(--spacing-md) 0;
    width: 100%;
}

section, .container {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing-xl);
}


.container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
}

.text-indent {
    text-indent: clamp(3rem, 8vw, 8rem);
}

.text-justify {
    text-align: justify;
    hyphens: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.strong {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: italic;
}