@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {
    :root {
        --custom-spacing-lg: 80px;
        --custom-spacing-xl: 128px;
    }

    header {
        padding: var(--custom-spacing-xl) 0;
    }

    .header-content img {
        flex: 10;
    }

    .carousel {
        gap: var(--spacing-sm);
        padding: 0 var(--spacing-md);
    }

    .carousel-item {
        gap: var(--spacing-xs);
        flex: 0 0 300px;
    }
}

@media screen and (max-width: 768px) {

    nav .container {
        justify-content: start;
    }

    .nav-list-items {
        display: none;
    }

    .header-content {
        gap: var(--spacing-xs);
    }

    .header-content img {
        flex: 10;
    }

    .header-content p {
        font-size: clamp(0.75rem, var(--font-size-text), 1rem);
        line-height: 0.75rem;
    }

    #author article {
        flex-direction: column;
        gap: var(--spacing-xl);
    }

    .list-items-container {
        flex-direction: column;
        gap: 0;
    }

    .list-items:first-of-type .list-item:last-child {
        border-bottom: 1px solid darkgrey;
    }

    #contact .container {
        flex-direction: column;
        gap: var(--spacing-xl);
    }

    #proposal .container {
        padding: 32px;
    }

}

@media screen and (max-width: 480px) {

    nav img {
        height: var(--spacing-xs);
    }

    header {
        padding: 200px 0;
    }

    h2, .title-2 {
        font-size: clamp(1.2rem, var(--font-size-text), 2rem);
        line-height:  clamp(2.2rem, var(--line-height-text), 2.5rem);
    }

    section, .container {
        padding-left: var(--spacing-sm);
        padding-right: var(--spacing-sm);
    }

    .list-item {
        list-style-type: none;
        padding: var(--spacing-xs) 0;
        border-bottom: var(--border-secondary);
    }

    #proposal .container {
        transform: translateY(var(--custom-spacing-lg));
    }
}
